.podcast-guest-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 10px;
}

.grid-container {
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding:5px
}

.grid-item {
  padding: 20px;
  text-align: center;
}
