{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{%block content%}



<h4 style="text-align: center; ">Podcast Researching Made Simple</h4>
<p style="text-align: center; padding:20px;">Search through podcasts through various methods</p>

<div class="home-buttons">
    <a class="btn btn-dark btn-lg" href="/podcasts" role="button">Single</a>
    <a class="btn btn-dark btn-lg" href="/topics" role="button">Topics</a>
    <a class="btn btn-dark btn-lg" href="/books" role="button">Books</a>
    <a class="btn btn-dark btn-lg" href="/people" role="button">People</a>
</div>
{%endblock%}