{% extends "base.html" %}

{% block title %}About Checkra{% endblock %}



{% block content %}
<h4 style="text-align: center">About Me</h4>

<p style="text-align: center">My name is Harsha Somisetty, and I created Checkra to augment the way we gather and process information. </p>


<h4 style="text-align: center">The Name</h4>

<p style="text-align: center">Checkra is a combination of the words "fact-check" and a weapon known as a "Chakra": a discus of vision that symbolizes truth destroying evil.</p>

<br><br>
<h4 style="text-align: center">Future Updates</h6>
    <ul style="text-align: center">
        <li>Scale podcast library to more podcasts and podcasters</li>
        <li>Support books, blogs, mainstream news, research papers</li>
        <li>Allow users to process their own text</li>
        <li>Monitor mentions of companies and stocks</li>
        <li>Detect social media misinformation trends and avoid disinfo</li>
    </ul>

{% endblock %}