{% extends "base.html" %}

{% block title %}About Checkra{% endblock %}



{% block content %}
<p style="text-align: center">My name's Harsha, and I created Checkra as a (early-stage) information aggregator capable of combating disinformation.</p>

<p style="text-align: center">The name Checkra is a portmanteau of fact-checking, and a weapon called Sudarshan Chakra—disk of auspicious vision—which symbolizes truth winning over evil. </p>

<p style="text-align: center">Here's to good.</p>

{% endblock %}