{% extends "base.html" %}

{% block title %}About Checkra{% endblock %}



{% block content %}
<p style="text-align: center">My name's Harsha, and I created Checkra as a soon-to-be information aggregator capable of combating disinformation.</p>

<p style="text-align: center">The name Checkra is a portmanteau of fact-checking and a weapon called Sudarshan Chakra: a discus of "auspicious vision" that symbolizes truth destroying evil. </p>

<p style="text-align: center">Here's to good.</p>

{% endblock %}