{% extends "base.html" %}



{%block content%}

<h3 style="text-align: center; padding-top:20px;padding-bottom:20px;">Checkra</h3>
<h4 style="text-align: center; padding-bottom:20px;">Choose an Option to Explore Podcasts</h4>

<div class="d-flex justify-content-center">
    <div class="align-self-center" style ="padding:40px">
        <a class="btn btn-dark btn-lg" href="/podcasts" role="button">Podcast Breakdowns</a>
    </div>
    <div>
        <a href = '/about'>
            <img src="{{url_for('static', filename='Checkra_black.png')}}" style="height:100%;width: auto; padding-right:10px" title="Checkra Logo, click for more info">
        </a>
    </div>
    <div class="align-self-center" style ="padding:20px">
        <a class="btn btn-dark btn-lg" href="/graphs" role="button">Entity Graphs</a>
    </div>
    <!-- <a class="btn btn-dark btn-lg" href="/news" role="button">News</a> -->
</div>
<div style="margin:auto">

    
</div>
<br><br>
<div style="text-align: center">
    <h5>What is Checkra?</h6>
    <p>Checkra is an information aggregator and extractor that currently gathers and displays information from podcasts.</p>
    <br>
    <h5>Features</h6>
    <ul>
        <li>Explore pre-processed podcasts from "Lex Fridman" and "The Investor Podcast", available at the "Podcast Breakdowns" tab</li>
        <li>Visualize which speakers mentioned specific entities, available at the "Entity Graphs" tab</li>
    </ul>
    <br>

    </div>

{%endblock%}