{% extends "base.html" %}
{% block title %}Home Page{% endblock %}



{%block content%}

<h3 style="text-align: center; padding-top:20px; padding-bottom:70px;">Podcast Exploration Made Simple</h3>

<div class="d-sm-flex justify-content-sm-around">
    <a class="btn btn-dark btn-lg" href="/podcasts" role="button">Search Single Podcasts</a>
    <a class="btn btn-dark btn-lg" href="/podcasts2" role="button">Podcasts dev</a>
    <a class="btn btn-dark btn-lg" href="/graphs" role="button">Visualize Entity Relations</a>
    <!-- <a class="btn btn-dark btn-lg" href="/news" role="button">News</a> -->
</div>


{%endblock%}