{% extends "base.html" %}
{% block title %}Home Page{% endblock %}



{%block content%}

<h3 style="text-align: center; padding-top:20px;padding-bottom:20px;">Checkra</h3>
<h4 style="text-align: center; padding-bottom:20px;">Choose an Option to Gain Insights on Podcasts</h4>

<div class="d-sm-flex justify-content-sm-around">
    <a class="btn btn-dark btn-lg" href="/podcasts" role="button">Podcast Breakdowns</a>
    <a class="btn btn-dark btn-lg" href="/graphs" role="button">Entity Graphs</a>
    <!-- <a class="btn btn-dark btn-lg" href="/news" role="button">News</a> -->
</div>
<br><br>
<div style="text-align: center">
    <h5>What is Checkra?</h6>
    <p>Checkra is an information aggregator and extractor that currently works on podcasts, and will scale to many more information sources including financial data, books, and research papers. <br>It'll cross-reference this data to mainstream news and social media, and with ML-classifiers, Checkra will be able to detect misinformation at its inception.</p>
    <br>
    <h5>Current Features</h6>
    <ul>
        <li>Explore pre-processed podcasts from Lex Fridman, available at "Podcast Breakdowns"</li>
        <li>Visualize which speakers mentioned specific entities, availabe at "Entity Graphs"</li>
    </ul>
    <br>
    <h5>Future Updates</h6>
    <ul>
        <li>Scale podcast library to more podcasts and podcasters</li>
        <li>Implement book processing</li>
        <li>Allow users to process their own text</li>
        <li>Monitor mentions of companies and stocks</li>
        <li>Detect social media misinformation trends</li>
    </ul>
    </div>

{%endblock%}