{% extends "base.html" %}

{% block title %}About Checkra{% endblock %}



{% block content %}
<p>My name's Harsha, and I created Checkra out of the need of making a next-gen information aggregator capable of combating the world's disinformation.</p>

<p>The name Checkra comes from the goal of creating the ultimate fact-checker powered by information gathered by the people.</p>

<p>The other half of Checkra comes from the Hindu God Vishnu's weapon called the Sudarshan Chakra, or "disk of auspicious vision", that symbolizes truth winning over evil.</p>

<p>Here's to good.</p>

{%endblock%}